body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}


p {
  font-family: helvetica;
  font-size: 115%;
  position: absolute;
  color: rgb(171, 87, 23);
  top: 1.15%;
  right: 0.75%;
}

a {
font-family: helvetica;
position: fixed;
right: 0.75%;
top: 0.8%;
font-size: 115%;
color: rgb(171, 87, 23);
text-align: right;
}

#kleinerText {
  position: absolute;
  left: 8.5px;
  top: 97.3%;
  width: 100%;
  text-align: left;
  font-size:60%;
  color: black;

  }

#homegif {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;

  width: 36%;
}

#paul{
  height:30vh;
  display: block;
}

#zimmer{
  position: relative;
  height:66vh;
  overflow-x: hidden;


}
