body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

img {
  position: absolute;
  bottom: 5px;

}

p {
  font-family: helvetica;
  font-size: 130%;
  position: absolute;
  color: rgb(171, 87, 23);
  top: 1.1%;
  right: 0.85%;
}

a {
font-family: helvetica;
position: fixed;
right: 0.85%;
top: 0.8%;
font-size: 130%;
color: rgb(171, 87, 23);
}

#gay {
  position: absolute;
  right: 5px;
  width: 40%;
}

#paul{
  height:30vh;
}

#zimmer{
  height:67vh;"
}
